body{
    font-family: arial;
    background-image: url(pantalla-azul.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}