*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    width: 490px;
    height:250px;
    background-image: url(hexagonal.jpg);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13 px 38px #000;
    padding: 20px 30px 30px;
    border-top: 4px solid black;
    color: white;
}

body{
    font-family: arial;
    background-image: url(fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}
.formulario h3{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid;
    font: size 100px;
}

.log-control {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 15px;
    padding:11px 10px;
    background: gainsboro;
    font-size: 14px;
    font-weight: bold;
}

.button {
    width: 100%;
    height:40px;
    background: rgb(110, 117, 218);
    border: none;
    color: white;
    margin-bottom: 16px;
    
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login a{
    height:20px;
    text-align: center;
    border-bottom: 2px solid;
}